.op_line {
  display: flex;
  flex-direction: row;
}

.op_line--column {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 286.52px;
  margin-right: 13px;

  &-right {
    width: 579px;
    margin-right: 0;
    justify-content: space-between;
  }

  & > * {
    margin-right: 8.6px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-freeWidth {
    width: unset;
  }
}
