.form--field {
  background-color: #84d2f6;
  border-radius: 3px;
  border: none;
  color: #133c55;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;

  &::placeholder {
    color: #386FA4;
    font-size: 12px;
  }

  &-area {
    width: 709px;
    height: 41px;
    // font-family: 'Inter';
    // font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }

  &-numeric {
    width: 121px;
    text-align: right;
    padding: 0;

    &-narrow {
      width: 70px;
    }
  }
}

.form--label {
  font-size: 11px;
  line-height: 13px;
  color: #91e5f6;
  margin-bottom: 6px;

  &-disabled {
    color: #386fa4;
  }
}

.form--labeled_field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form--dropdown {
  height: fit-content;
}

.form--button {
  width: 204px;
  height: 40px;
  background: #386fa4;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 17px;
  color: #91e5f6;

  &-submit {
    width: 300px;
    height: 41px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }

  &-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    background: #7284968c;

    &:disabled {
      background: #3C4248;

      & .form--cross {
        fill: #555859;
      }
    }
  }
}

.form--cross {
  fill: #59A5D8;
}
