/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.link_unstyling {
  text-decoration: none;
  color: inherit;
}

.list_unstyling {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button_unstyling {
  padding: 0;
  background-color: transparent;
  border: none;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

.menu_link:hover {
  color: white;
}

.menu_link:active {
  color: red;
}

.framed_section {
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9px;
}

.framed_section:last-child {
  margin-bottom: 0;
}

.framed_section--headline {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
